<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title #titulo class="ion-text-left ion-text font-size-18">Sistema Asistencia Duoc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal color-fondo" #page>


  <div class="logo-login-duoc">
    <img src="../../../assets/icon/Logo_DuocUC.svg.png" alt="Logo Duoc">
  </div>


  <div class="container-box">
    <div style="text-align: center; margin-top: 40px">
      <h2>¡Bienvenido(a) Estudiante! Juan Valenzuela</h2>
      <p>Aquí puedes ver tu asistencia o escanear tu código QR.</p>
    </div>
  </div>
    
 
  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>


  <ion-button expand="block" [routerLink]="['/miclase']">Mi clase</ion-button>
  <ion-button expand="full" [routerLink]="['/misdatos']">Mis datos</ion-button>


</ion-content>
